<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Management</title>
    <base href="/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% load static %}
    <link type="text/css" href="gallery/base.css">
    
    {% block title %}
      
    {% endblock title %}
</head>

<body>
    <div class="top-section">
        <div class="top-section-left">
            Product Management System
        </div>
        <div class="top-section-right">
            <div class="ham-burger">
                <span class="ham"></span><span class="ham"></span><span class="ham"></span>
            </div>
        </div>
    </div>
    <div class="base-main-container">
        <div class="left-nav">
            <div class="dash-logo">
                <img src="{% static 'gallery/dashboard.png' %}" alt="">
            </div>
            <div class="nav-item-box">
                <a href="dashboard" id="dashboard" class="nav-item">Dashboard</a>
                <a href="manage" id="manage" class="nav-item">Manage Products</a>
                <a href="add"id="add" class="nav-item">Add New Products</a>
                <a href="activeorders" id="activeorders" class="nav-item">Active Orders </a>
                <a href="order" id="order" class="nav-item">Create supply</a>
            </div>
        </div>

        <div class="body-container">
            {% block body %}


            {% endblock body %}
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="gallery/main.js"></script>
<script>
    var my_location = location.href
    my = (my_location.split("/"))
    last_url = my[my.length-1]
    document.getElementById(`${last_url}`).classList.add('active')
    
   </script>
   
   {% block scripts %}
    
   {% endblock scripts %}
    
</html>
